<div class="card">
  <h2>{{ task.title }}</h2>
  <p>{{ task.description }}</p>
  <div class="buttons">
    <button class="trash-button"><fa-icon [icon]="trashIcon"></fa-icon></button>
    <select id="" class="btn">
      <option value="Pending">Pending</option>
      <option value="In Progress">In Progress</option>
      <option value="Done">Done</option>
    </select>
    <select id="" [ngClass]="task.priority" class="btn">
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select>
  </div>
</div>